body{
    background-color: black;
}
div {
    padding: 20px;
}

.invertedText {
    background-color: black;
    color: white;
}
#spinner_itself{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main-header {
    font-size: 56px;
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}


